.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    object-fit: cover;
    border: 1px solid #000000;
}

.main-img {
    width: 80vw;
    height: 70vh;
}

.pictures img {
    width: calc(80vw / 6 - 20px);
    height: calc(70vh / 4);
}

.pictures {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}