input {
    width: calc(169px / 4);
}

.name-surname {
    width: 200px;
}

button {
    color: #fff;
    font-weight: 700;
    border: 2px solid #000;
    background-color: #2e73b5;
    padding: 1px 22px;
}