.main-news {
    display: flex;
    background-color: #aed9db;
    padding: 20px;
    gap: 20px;
}

.main-news-img {
    flex: 4;
}

.main-news img {
    width: 100%;
}

.main-news-text {
    flex: 6;
}

.main-news-text h2 {
    margin-bottom: 17px;
}